*{
    margin: 0;
}

body{
    background-color: #87CEFA;
}

.margin-top{
    margin-top: 30px;
}

header{
    display: flex;
    width: 100%;
    background-color: black;
    height: 90px;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    margin-right: 360px;
}

.logo-text{
    margin-top: auto;
    margin-bottom: auto;
}

.largeText{
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 35px;
}

.defaultText{
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 20px;
}

.smallText{
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 10px;
}

.ultralargeText{
    font-size: 45px;
}

.center{
    justify-content: center;
}

.block1{
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.block2{
    display: flex;
    width: 80%
    margin: 10 auto 10 auto;
    height: 150px;
    flex-direction: column;
    border-radius: 7px;
    border: 1px solid grey;
}

.header-elems{
    display: flex;
    width: 90%;
    margin: auto auto auto auto;
}

.header-elem{
    margin-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.plogo-text{
    color: white;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 30px;
}

.text{
    color: white;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 20px;
}

.decoration-none{
    text-decoration: none;
}

.container{
    background: url({{ url_for('static', filename='images/index-background.jpg') }});
}

#feedback{
    display: flex;
    width: 100%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    border-top: 1px solid grey;
    flex-direction: column;
}

.mainfeed{
    display: flex;
    width: 100%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.left{
    display: flex;
    width: 60%;
    flex-direction: column;
    border-right: 1px solid grey;
}

.right{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.feed{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    background-color: #E6E6FA;
    border-radius: 10px;

}

.create-feed{
    display: flex;
    width: 90%;

}

.container{
    margin-bottom: 100px;
}

.button2{
    width: 140px;
    height: 50px;
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}

.button2:hover{
    background-position: right center;
}

.button3{
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.footer1{
    display: flex;
    align-items: center;
    height: 60px;
    width: 80%;
    border-top: 2px solid white;
    margin-top: 220px;
    margin-left: 130px;
}

.logo2{
    height: 100%;
    width: 50%;
    margin-left: 50px;
    margin-top: 30px;
}

.links{
    height: 100%;
    width: 50%;
    margin-left: 20px;
    margin-top: 30px;
}

.jpg{
    margin-top: 60px;
}

.col-4{
    display: flex;
    width: 100%;
}

.button3:hover{
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
}

.block4{
    display: flex;
    width: 90%;
    margin: 30px auto 30px auto;
    justify-content: center;
}


.button4{
    background-color: white;
    border: 2px solid #4CAF50;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button4:hover{
    background-color: #4CAF50;
    color: white;
}



